/*
 * All theme colors
 */

$black-color: black;
$white-color: white;
$border-color: #f5f3f4;
$green-color-1: #254d49;
$green-color-2: #2e5955;
$green-color-3: #3c706b;
$green-color-5: #6aa6a1;
$green-color-9: #eff6f5;
$green-color-10: #f5fdfa;
$green-color-4: #62a29c;
$green-color-7: #bbddd9;
$green-color-8: #cceae4;
$green-color-11: #B4DCD4;
$contrast-color: #44b78b;
$contrast-dim-color: transparentize($contrast-color, 0.25);
$contrast2-color: #7FB1DC;
$success-color-1: #bcd386;
$success-color-2: #e0eec5;
$info-color-1: #bebe92;
$info-color-2: #e8e8bd;
$selected-color-1: #e5e2a5;
$selected-color-2: #fffcc0;
$warning-color-1: #dba4a4;
$warning-color-2: #f0dada;
$warning-color-3: #c14747;

/*
 * Customizable variables
 * Update these variable to create theme
 */

/*
 * General
 */

$background-color: $green-color-9;
$text-color: $green-color-4;
$dim-text-color: $green-color-8;
$error-text-color: $warning-color-3;

$link-color: $contrast2-color;
$hover-link-color: $contrast-color;

$font: Arial, sans-serif;
$font-size: 14px;

/*
 * Sidebar
 */

$sidebar-width: 250px;

$sidebar-background-color: $green-color-2;
$sidebar-border-color: $green-color-1;
$sidebar-contrast-color: $contrast-color;
$sidebar-contrast2-color: $contrast2-color;

$sidebar-text-color: $green-color-4;
$sidebar-icon-color: $green-color-4;
$sidebar-link-color: $green-color-7;
$sidebar-hover-link-color: $white-color;
$sidebar-hover-background-color: $green-color-1;

$sidebar-popup-search-input-background-color: $green-color-8;
$sidebar-popup-search-input-text-color: $green-color-4;
$sidebar-popup-search-input-placeholder-color: $green-color-8;

$sidebar-popup-background-color: $green-color-9;
$sidebar-popup-text-color: $green-color-4;
$sidebar-popup-overlay-color: $black-color;

$sidebar-popup-link-text-color: $green-color-4;
$sidebar-popup-hover-link-color: $white-color;
$sidebar-popup-hover-link-background-color: $contrast2-color;

/*
 * Top
 */

$top-height: 32px;

$top-text-color: $green-color-11;
$top-link-color: $green-color-11;
$top-hover-link-color: $contrast2-color;
$top-border-color: $green-color-11;
$top-icon-color: $contrast-color;
$top-dropdown-background-color: $green-color-4;
$top-dropdown-border-color: $green-color-5;
$top-dropdown-text-color: $green-color-9;
$top-dropdown-link-color: $green-color-9;
$top-dropdown-hover-link-color: $green-color-9;

/*
 * Content
 */

$content-background-color: $white-color;
$content-contrast-background-color: $green-color-10; //inline list bg
$content-contrast2-background-color: $green-color-3; //table header
$content-contrast3-background-color: $green-color-8; //delete collapsable
$content-selected-background-color: $selected-color-2;
$content-contrast2-text-color: $white-color;
$content-border-color: $border-color; //row bottom
$content-border2-color: $green-color-8; //table bottom
$content-selected-border-color: $selected-color-1;

$tab-selected-border-color: $contrast2-color;
$tab-error-border-color: $warning-color-3;

/*
 * Buttons
 */

$button-background-color: $green-color-8;
$button-hover-background-color: $contrast2-color;
$button-active-background-color: $green-color-4;
$button-text-color: $green-color-4;
$button-hover-text-color: $white-color;
$button-active-text-color: $white-color;

$primary-button-background-color: $contrast-color;
$primary-button-text-color: $white-color;

$danger-button-background-color: $warning-color-3;
$danger-button-text-color: $white-color;

$background-button-background-color: $white-color;
$background-button-text-color: $green-color-4;

/*
 * Inputs
 */

$input-background-color: $white-color;
$input-contrast-background-color: $green-color-8;
$input-border-color: $green-color-9;
$input-hover-background-color: $contrast2-color;
$input-icon-color: $contrast-color;
$input-text-color: $green-color-4;
$input-contrast-text-color: $green-color-4;
$input-hover-text-color: $white-color;
$input-selected-text-color: $contrast-color;
$input-disabled-text-color: $green-color-8;
$input-placeholder-color: $green-color-8;
$input-shadow-color: $contrast-dim-color;

$background-input-background-color: $white-color;
$background-input-border-color: $white-color;
$background-input-text-color: $green-color-4;

/*
 * Messages
 */

$warning-color: $warning-color-2;
$warning-text-color: $warning-color-1;
$info-color: $info-color-2;
$info-text-color: $info-color-1;
$success-color: $success-color-2;
$success-text-color: $success-color-1;

/*
 * Login
 */

$login-background-color: $green-color-2;
$login-title-text-color: $green-color-4;
$login-title-contrast-text-color: $white-color;
$login-header-background-color: $green-color-3;
$login-header-text-color: $white-color;
$login-content-background-color: $white-color;

/*
 * jQuery UI
 */

$jquery-ui-buttonpane-background: $green-color-9;

$jquery-ui-state-default-background-color: $white-color;
$jquery-ui-state-default-border-color: $green-color-9;
$jquery-ui-state-default-text-color: $green-color-4;

$jquery-ui-state-hover-background-color: $contrast2-color;
$jquery-ui-state-hover-border-color: $contrast2-color;
$jquery-ui-state-hover-text-color: $white-color;

$jquery-ui-state-active-background-color: $contrast-color;
$jquery-ui-state-active-border-color: $contrast-color;
$jquery-ui-state-active-text-color: $white-color;

$jquery-ui-state-highlight-background-color: $white-color;
$jquery-ui-state-highlight-border-color: $contrast2-color;
$jquery-ui-state-highlight-text-color: $contrast2-color;

$jquery-ui-overlay-color: $black-color;

$jquery-ui-tooltip-background-color: $black-color;
$jquery-ui-tooltip-text-color: $white-color;