{% load i18n admin_static jet_tags %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}{% format_current_language LANGUAGE_CODE as LANGUAGE_CODE %}{% get_themes as THEMES %}{% get_current_theme as THEME %}{% get_current_jet_version as JET_VERSION %}{% get_side_menu_compact as SIDE_MENU_COMPACT %}
{% block html %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="copyright" content="geex-arts.com">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

    <link href="{% static "jet/vendor/select2/css/select2.min.css" %}" rel="stylesheet" />
    <link href="{% static "jet/vendor/jquery-ui/jquery-ui.min.css" %}" rel="stylesheet" />
    <link href="{% static "jet/vendor/jquery-ui-timepicker/jquery.ui.timepicker.css" %}" rel="stylesheet" />
    <link href="{% static "jet/vendor/perfect-scrollbar/css/perfect-scrollbar.css" %}" rel="stylesheet" />
    <link href="{% static "jet/css/icons/style.css" %}?v={{ JET_VERSION }}" rel="stylesheet" />
    <link href="{% static "jet/css/themes/"|add:THEME|add:"/base.css" %}?v={{ JET_VERSION }}" rel="stylesheet" class="base-stylesheet" />
    <link href="{% static "jet/css/themes/"|add:THEME|add:"/select2.theme.css" %}?v={{ JET_VERSION }}" rel="stylesheet" class="select2-stylesheet" />
    <link href="{% static "jet/css/themes/"|add:THEME|add:"/jquery-ui.theme.css" %}?v={{ JET_VERSION }}" rel="stylesheet" class="jquery-ui-stylesheet" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
    {% block extrastyle %}{% endblock %}

    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
    <script type="text/javascript" charset="utf-8">
        var DATE_FORMAT = "{% get_date_format %}";
        var TIME_FORMAT = "{% get_time_format %}";
        var DATETIME_FORMAT = "{% get_datetime_format %}";
    </script>
    <script type="text/javascript" src="{% url 'jet:jsi18n' %}"></script>
    <script src="{% static "jet/vendor/jquery/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "jet/vendor/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "jet/vendor/jquery-ui-timepicker/jquery.ui.timepicker.js" %}"></script>
    <script src="{% static "jet/vendor/select2/js/select2.full.min.js" %}"></script>
    <script src="{% static "jet/vendor/perfect-scrollbar/js/perfect-scrollbar.min.js" %}"></script>
    <script src="{% static "jet/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" %}"></script>
    <script src="{% static "jet/vendor/jquery-cookie/jquery.cookie-1.4.1.min.js" %}"></script>
    {% if LANGUAGE_CODE|slice:":2" != 'en' %}
        {% with "jet/vendor/jquery-ui/i18n/datepicker-"|add:LANGUAGE_CODE|add:".js" as url %}
            <script src="{% static url %}"></script>
        {% endwith %}
        {% with "jet/vendor/jquery-ui-timepicker/i18n/jquery.ui.timepicker-"|add:LANGUAGE_CODE|add:".js" as url %}
            <script src="{% static url %}"></script>
        {% endwith %}
        {% with "jet/vendor/select2/js/i18n/"|add:LANGUAGE_CODE|add:".js" as url %}
            <script src="{% static url %}"></script>
        {% endwith %}
    {% endif %}
    <script type="text/javascript" charset="utf-8">
        var jet = jet || {};
        jet.jQuery = jQuery.noConflict(true);
    </script>
    <script src="{% static "jet/js/main.min.js" %}?v={{ JET_VERSION }}"></script>
    <script src="{% static "jet/js/select2.jet.min.js" %}?v={{ JET_VERSION }}"></script>
    {% block extrahead %}{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
    {% block body %}
        {% if not is_popup %}
            <div id="container" class="container">
        {% endif %}

            <div class="content">
                {% if not is_popup %}
                    {% block header %}
                        <div id="header" class="top">
                            <div class="top-right">
                                {% block top-right %}{% endblock %}
                                {% block usertools %}
                                    {% if user.is_active and user.is_staff %}
                                        <ul class="top-user-tools" id="user-tools">
                                            <li class="top-user-tools-welcome-msg">
                                                <span class="top-user-tools-welcome-msg-arrow icon-arrow-down"></span>
                                                {% block welcome-msg %}
                                                    {% firstof user.get_short_name user.get_username %}
                                                {% endblock %}
                                            </li>

                                            {% if THEMES %}
                                                <li class="top-user-tools-contrast-block">
                                                    <div class="top-user-tools-contrast-block-title">{% trans "current theme" %}</div>
                                                    <div class="top-user-tools-theme-link-container cf">
                                                        {% for conf_theme in THEMES %}
                                                            {% if conf_theme.theme %}
                                                                <a href="#"
                                                                   class="top-user-tools-theme-link choose-theme{% if conf_theme.theme == THEME %} selected{% endif %}"
                                                                   data-theme="{{ conf_theme.theme }}"
                                                                   data-base-stylesheet="{% static "jet/css/themes/"|add:conf_theme.theme|add:"/base.css" %}?v={{ JET_VERSION }}"
                                                                   data-select2-stylesheet="{% static "jet/css/themes/"|add:conf_theme.theme|add:"/select2.theme.css" %}?v={{ JET_VERSION }}"
                                                                   data-jquery-ui-stylesheet="{% static "jet/css/themes/"|add:conf_theme.theme|add:"/jquery-ui.theme.css" %}?v={{ JET_VERSION }}"
                                                                   {% if conf_theme.title %} title="{{ conf_theme.title }}"{% endif %}
                                                                   style="background-color: {{ conf_theme.color|default:'white' }};"
                                                                        ></a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            {% endif %}

                                            {% block userlinks %}
                                                {% if user.has_usable_password %}
                                                    <li class="top-user-tools-user-link">
                                                        <span class="top-user-tools-user-link-icon icon-key"></span> <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
                                                    </li>
                                                {% endif %}
                                                <li class="top-user-tools-user-link">
                                                    <span class="top-user-tools-user-link-icon icon-exit"></span> <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                                                </li>
                                            {% endblock %}
                                        </ul>
                                    {% endif %}
                                {% endblock %}
                            </div>
                            <div class="top-breadcrumbs">
                                {% format_breadcrumbs %}
                                    {% block breadcrumbs %}
                                        <div class="breadcrumbs">
                                            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                                            {% if title %} &rsaquo; {{ title }}{% endif %}
                                        </div>
                                    {% endblock %}
                                {% endformat_breadcrumbs %}
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}


                {% block messages %}
                    {% if messages %}
                        <ul class="messagelist">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock messages %}

                <div class="content-sidebar">
                    {% block sidebar %}{% endblock %}
                </div>

                <div id="content" class="cf {% block coltype %}colM{% endblock %}">
                    {% block pretitle %}{% endblock %}
                    {% if is_popup %}
                        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                    {% endif %}

                    {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                    {% endblock %}
                </div>

                {% block footer %}<div id="footer"></div>{% endblock %}
            </div>

        {% if not is_popup %}
            <div class="related-popup-container">
                <a href="#" class="related-popup-back"><span class="icon-arrow-left"></span> {% trans "back" %}</a>
                <span class="icon-refresh loading-indicator"></span>
            </div>
            <div class="sidebar">
                <div class="sidebar-menu-wrapper">
                    <div id="branding">
                        {% block branding %}{% endblock %}
                    </div>
                    <ul class="sidebar-menu">
                        <li class="sidebar-menu-item no-horizontal-padding">
                            <ul class="sidebar-menu-item-list compact">
                                {% if user.is_active and user.is_staff %}
                                    <li class="sidebar-menu-item-list-item">
                                        <a href="{% url 'admin:index' %}" class="sidebar-menu-item-list-item-link">
                                            <span class="sidebar-menu-item-list-item-icon icon-data"></span> {% trans 'Home' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if site_url %}
                                    <li class="sidebar-menu-item-list-item">
                                        <a href="{{ site_url }}" class="sidebar-menu-item-list-item-link">
                                            <span class="sidebar-menu-item-list-item-icon icon-open-external"></span> {% trans 'View site' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% url 'django-admindocs-docroot' as docsroot %}
                                {% if docsroot %}
                                    <li class="sidebar-menu-item-list-item">
                                        <a href="{{ docsroot }}" class="sidebar-menu-item-list-item-link">
                                            <span class="sidebar-menu-item-list-item-icon icon-book"></span> {% trans 'Documentation' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% block nav-global %}{% endblock %}
                            </ul>
                        </li>

                        {% if user.is_active and user.is_staff %}
                            {% get_menu as app_list %}
                            {% if app_list.apps or app_list.pinned_apps %}
                                <form action="{% url "jet:toggle_application_pin" %}" method="POST" id="toggle-application-pin-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="app_label">
                                </form>
                                {% if SIDE_MENU_COMPACT %}
                                    {% for app in app_list.all_apps %}
                                        <li class="sidebar-menu-item no-horizontal-padding">
                                            <a href="{{ app.app_url }}" class="sidebar-menu-item-link">
                                                {% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}
                                            </a>
                                            <ul class="sidebar-menu-item-list">
                                                {% for model in app.models %}
                                                    <li class="sidebar-menu-item-list-item">
                                                        {% if model.admin_url %}
                                                            <a href="{{ model.admin_url }}" class="sidebar-menu-item-list-item-link">{{ model.name }}</a>
                                                        {% else %}
                                                            {{ model.name }}
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="sidebar-menu-item no-horizontal-padding">
                                        <span class="sidebar-menu-item-title">{% trans 'Applications' %}</span>
                                        <ul class="sidebar-menu-item-list apps-list-pinned">
                                            {% for app in app_list.pinned_apps %}
                                                <li class="sidebar-menu-item-list-item app-item pinned app-{{ app.app_label }}" data-app-label="{{ app.app_label }}">
                                                    <a href="{{ app.app_url }}" class="sidebar-menu-item-list-item-link popup-item-link" data-popup-item-id="sidebar-popup-item-{{ app.app_label }}">
                                                        <span class="sidebar-menu-item-list-item-arrow icon-arrow-right"></span>
                                                        <span class="sidebar-menu-item-list-item-link-pin icon-star pin-toggle"></span>
                                                        <span class="sidebar-menu-item-list-item-link-unpin icon-cross pin-toggle"></span>
                                                        {% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <a href="#" class="sidebar-menu-item-action apps-hide"></a>
                                        <ul class="sidebar-menu-item-list apps-list">
                                            {% for app in app_list.apps %}
                                                <li class="sidebar-menu-item-list-item app-item app-{{ app.app_label }}" data-app-label="{{ app.app_label }}">
                                                    <a href="{{ app.app_url }}" class="sidebar-menu-item-list-item-link popup-item-link" data-popup-item-id="sidebar-popup-item-{{ app.app_label }}">
                                                        <span class="sidebar-menu-item-list-item-arrow icon-arrow-right"></span>
                                                        <span class="sidebar-menu-item-list-item-link-pin icon-star pin-toggle"></span>
                                                        <span class="sidebar-menu-item-list-item-link-unpin icon-cross pin-toggle"></span>
                                                        {% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endif %}
                            <li class="sidebar-menu-item no-horizontal-padding">
                                <div class="dialog-confirm" id="bookmarks-add-dialog" title="{% trans "Add bookmark" %}">
                                    <form action="{% url "jet:add_bookmark" %}" method="POST" id="bookmarks-add-form">
                                        {% csrf_token %}
                                        <p>{% trans "Title" %}:</p>
                                        <input type="text" name="title" class="fill_width">
                                        <p>{% trans "URL" %}:</p>
                                        <input type="text" name="url" class="fill_width">
                                    </form>
                                </div>
                                <form action="{% url "jet:remove_bookmark" %}" method="POST" id="bookmarks-remove-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="id">
                                </form>
                                <div class="dialog-confirm" id="bookmarks-remove-dialog" title="{% trans "Delete bookmark" %}">
                                    <p>{% trans "Are you sure want to delete this bookmark?" %}</p>
                                </div>
                                <span class="sidebar-menu-item-title">
                                    <a href="#" class="sidebar-menu-item-title-icon bookmarks-add" title="{% trans "Add bookmark" %}"{% if title %} data-title="{{ title }}"{% endif %}><span class="icon-add"></span></a>
                                    {% trans 'bookmarks' %}
                                </span>
                                <ul class="sidebar-menu-item-list bookmarks-list">
                                    {% get_bookmarks user as bookmarks %}
                                    {% for bookmark in bookmarks %}
                                        <li class="sidebar-menu-item-list-item">
                                            <a href="{{ bookmark.url }}" class="sidebar-menu-item-list-item-link">
                                                <span class="sidebar-menu-item-list-item-link-remove bookmarks-remove" data-bookmark-id="{{ bookmark.pk }}">{% trans "Remove" %}</span>
                                                {{ bookmark.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="sidebar-menu-item-list-item empty">
                                        <a href="" class="sidebar-menu-item-list-item-link">
                                            <span class="sidebar-menu-item-list-item-link-remove bookmarks-remove">{% trans "Remove" %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="sidebar-copyright">powered by DJANGO JET</div>
            </div>

            {% if not SIDE_MENU_COMPACT %}
                {% if app_list %}
                    <div class="sidebar-popup-container">
                        <div class="sidebar-popup">
                            {% for app in app_list.apps|add:app_list.pinned_apps %}
                                <div class="sidebar-popup-item" id="sidebar-popup-item-{{ app.app_label }}">
                                    <div class="sidebar-popup-title">
                                        {% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}
                                    </div>

                                    <input class="sidebar-popup-search" placeholder="Search...">

                                    <ul class="sidebar-popup-list">
                                        <li class="sidebar-popup-list-item app-{{ app.app_label }}{{ app.current|yesno:" current," }}">
                                            <a href="{{ app.app_url }}" class="sidebar-popup-list-item-link">{% trans 'Application page' %}</a>
                                        </li>

                                        {% for model in app.models %}
                                            <li class="sidebar-popup-list-item model-{{ model.object_name|lower }}{{ model.current|yesno:" current," }}">
                                                {% if model.admin_url %}
                                                    <a href="{{ model.admin_url }}" class="sidebar-popup-list-item-link">{{ model.name }}</a>
                                                {% else %}
                                                    {{ model.name }}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            </div>
        {% endif %}
    {% endblock %}
</body>
</html>{% endblock %}