{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify jet_tags %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% if opts.app_config.verbose_name %}{{ opts.app_config.verbose_name }}{% else %}{% trans app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}</a>
    &rsaquo;
    {% if has_change_permission %}
        {% url opts|admin_urlname:'changelist' as url %}
        <a href="{% jet_add_preserved_filters url %}">{{ opts.verbose_name_plural|capfirst }}</a>
    {% else %}
        {{ opts.verbose_name_plural|capfirst }}
    {% endif %}
    &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        <div class="cf">
            {% jet_change_form_sibling_links_enabled as show_siblings %}
            {% if change and show_siblings %}
                <div class="changeform-navigation">
                    {% spaceless %}
                        {% jet_previous_object_url as url %}
                        <a{% if url %} href="{{ url }}"{% endif %} class="segmented-button left{% if not url %} disabled{% endif %}">
                            {% trans "←" %}
                        </a>

                        {% jet_next_object_url as url %}
                        <a{% if url %} href="{{ url }}"{% endif %} class="segmented-button right{% if not url %} disabled{% endif %}">
                            {% trans "→" %}
                        </a>
                    {% endspaceless %}
                </div>
            {% endif %}
            <div class="changeform-object-tools">
                {% block object-tools %}
                    {% if change %}
                        {% if not is_popup %}
                            <ul class="object-tools horizontal">
                                {% block object-tools-items %}
                                    <li>
                                        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                                        <a href="{% jet_add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
                                    </li>
                                    {% if has_absolute_url %}
                                        <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
                                    {% endif %}
                                {% endblock %}
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
            {% csrf_token %}
            {% block form_top %}{% endblock %}
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
            {% filter_fieldsets_with_errors adminform as fieldsets_with_errors %}
            <div class="changeform">
                {% if adminform.fieldsets|length > 1 or inline_admin_formsets|length > 0 %}
                    <ul class="changeform-tabs">
                        {% for fieldset in adminform %}
                            {% is_fieldset_selected forloop.counter0 fieldsets_with_errors as selected %}
                            {% is_fieldset_with_errors forloop.counter0 fieldsets_with_errors as fieldset_with_errors %}

                            <li class="changeform-tabs-item{% if selected %} selected{% endif %}{% if fieldset_with_errors %} errors{% endif %}">
                                <a href="#/module_{{ forloop.counter0 }}" class="changeform-tabs-item-link" data-module-id="module_{{ forloop.counter0 }}">
                                    {% if fieldset.name %}
                                        {{ fieldset.name }}
                                    {% else %}
                                        {% trans "General" %}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        {% for inline_admin_formset in inline_admin_formsets %}
                            {% formset_has_errors inline_admin_formset.formset as errors %}

                            <li class="changeform-tabs-item{% if errors %} errors{% endif %}">
                                <a href="#/inline_module_{{ forloop.counter0 }}" class="changeform-tabs-item-link" data-module-id="inline_module_{{ forloop.counter0 }}">
                                    {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if is_popup %}<input type="hidden" name="{{ is_popup_var|default:"_popup" }}" value="1" />{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
                {% if errors %}
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}
                        {% is_fieldset_selected forloop.counter0 fieldsets_with_errors as selected %}
                        {% is_fieldset_with_errors forloop.counter0 fieldsets_with_errors as fieldset_with_errors %}

                        {% include "admin/includes/fieldset.html" with index=forloop.counter0 selected=selected errors=fieldset_with_errors %}
                    {% endfor %}
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% formset_has_errors inline_admin_formset.formset as errors %}

                        {% include inline_admin_formset.opts.template with index=forloop.counter0 errors=errors %}
                    {% endfor %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% block admin_change_form_document_ready %}
                    <script type="text/javascript">
                        (function($) {
                            {# JET: Add handlers for Django <= 1.6 #}
                            $(document).ready(function() {
                                $('.add-another').removeAttr('onclick').click(function(e) {
                                    e.preventDefault();
                                    showAddAnotherPopup(this);
                                });
                                $('.related-lookup').removeAttr('onclick').click(function(e) {
                                    e.preventDefault();
                                    showRelatedObjectLookupPopup(this);
                                });
                            {% if adminform and add %}
                                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                            {% endif %}
                            });
                        })(django.jQuery);
                    </script>
                {% endblock %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}
            </div>
            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
        </form>
    </div>
{% endblock %}
