{% load i18n admin_static admin_list %}

{% if cl.search_fields or cl.has_filters %}
    <form id="changelist-search" action="" method="get">
        {% if cl.search_fields %}
            <input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" placeholder="{% trans 'Search' %}" id="searchbar" />
            <script type="text/javascript">document.getElementById("searchbar").focus();</script>
        {% endif %}

        {% block filters %}
            {% if cl.has_filters %}
                {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
            {% endif %}
        {% endblock %}

        <div class="changelist-filter-submit-block">
            <input type="submit" value="{% trans 'Search' %}" />

            {% if show_result_count %}
                <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
            {% endif %}
        </div>

        {% for pair in cl.params.items %}
            {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
        {% endfor %}
    </form>
{% endif %}