@import "globals";

/* BREADCRUMBS */

div.breadcrumbs {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: $top-height;
  color: $top-text-color;
  padding: 10px 175px + 20px + 20px 10px 20px;
  visibility: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 32px;
  display: inline;

  @include for-mobile {
    padding: 20px 20px 10px 0;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
  }

  &.initialized {
    visibility: inherit;
  }

  body.menu-pinned & {
    padding-left: 0;
  }

  a {
    &, &:visited {
      color: $top-link-color;
    }

    &:focus, &:hover {
      color: $top-hover-link-color;
    }
  }
}

.breadcrumbs {
  &-separator {
    color: $top-separator-color;
    margin: 0 6px 0 6px;
    font-weight: bold !important;
    font-size: 15px;
    vertical-align: middle;
  }

  &-menu {
    float: left;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    line-height: 31px;
    padding: 0; 

    &:hover {
      color: $hover-link-color;
    }

    body.menu-pinned & {
      display: none;
    }

    @include for-mobile {
      display: none;
    }
  }
}

.breadcrumbs-container {
  position: relative;
  min-height: 31px;
  padding: 10px 175px + 20px + 20px 10px 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);

  body.login & {
    display: none;
  }

  @include for-mobile {
    padding: 20px 20px 10px 20px;
  }

  @include for-phone {
    padding-left: 10px;
  }
}

