@import "globals";

.login {
  $width: 400px;
  $expected-height: 230px;

  background: $login-background-color;
  position: relative;

  &-title {
    width: 100%;
    color: $login-title-text-color;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -($expected-height / 2) - 60px;

    .bright {
      color: $login-title-contrast-text-color;
      font-weight: bold;
    }
  }

  &-container {
    border-radius: 4px;
    width: $width;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -($width / 2);
    margin-top: -($expected-height / 2);

    &-header {
      background: $login-header-background-color;
      color: $login-header-text-color;
      text-transform: uppercase;
      padding: 10px;
      font-size: 11px;
      font-weight: bold;
    }

    &-content {
      background: $login-content-background-color;
      height: 100%;
      padding: 30px;
    }

    &-submit-row {
      text-align: center;
      margin-top: 20px;
    }
  }
}

.login-form {
  .form-row {
    padding: 6px 0;
    clear: both;

    label {
      display: block;
      padding: 6px 10px 0 0;
      float: left;
      width: 130px;
      word-wrap: break-word;
    }

    &.errors label {
      color: $error-text-color;
    }

    input[type="text"], input[type="password"] {
      width: 170px;
    }

    .errorlist {
      @extend .clear-list;
      @extend .small;
      color: $error-text-color;
    }
  }

  .submit-row {
    margin-top: 20px;
    text-align: center;
  }
}