@import "globals";

/* MODULES */

fieldset.module {
  background-color: $content-background-color;
  border-radius: 4px;
  padding: 20px;
  border: 0;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
  padding-left: 10px;
  padding-right: 10px;
}

.module blockquote {
  margin-left: 12px;
}

.module ul, .module ol {
  margin-left: 1.5em;
}

.module h3 {
  margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
  border-radius: 4px;
  padding: 6px;
  text-align: left;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;

  a {
    color: $text-color;
    font-size: 11px;
    font-weight: bold;
  }
}

.module table {
  border-collapse: collapse;
}
