.ui-tabs.ui-widget {
    .ui-tabs-nav {
        background: transparent;
        border: none;
        li {
            margin-right: 2px;
            a {
                border: none;
                padding: 5px;
                padding: 4px 10px 6px 10px;
            }
            &.ui-state-active {
                background: transparent;
                border: none;
                a {
                    background: #47bac1;
                    padding: 6px 10px 6px 10px;
                }
            }
            &.ui-state-hover {
                background: transparent;
                border: none;
            }
        }
    }
    > div {
        .form-row {
            padding-top: 0px;
        }
    }


    &.ui-widget-content {
        box-shadow: none;
        border: none;
    }
}
